.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    width: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    
  }

.button:hover {
    background-color: #3f9342; /* Green */
    transition-duration: 0.4s;
}