.button {
    background-color: #6dbaae; /* Green */
    border: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    height: 30px;
    width: 100px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
    
    
  }

.button:hover {
    background-color: #487c74; /* Green */
    transition-duration: 0.4s;
}